<div style="margin: 2%;" class="card mat-card">
<div class="card-titles">


<div class="container marketing">
  
<div id="acercade" class="row">
    <div class="col-lg-8">
      <div class="row">
  <div class="col-lg-8">
                
    <div style = "float: left; margin-right: 2.5%;" class="btn-edit" onclick="showTextareaAcercade()">
      <a href="#acercade" ><i class="fa fa-pencil"></i></a>
    </div>
    
    <div style = "float: left;" class="btn-edit" onclick="eliminateAcercade()">
      <a href="#acercade"  ><i class="fa fa-circle-xmark"></i></a>
    </div>
    </div>

</div>
              <div>
              <h2 class="fw-normal">Sobre mi</h2>
              
              <p id="text-acercade">
                Mi nombre es {{miPorfolio.name}}. Tengo {{miPorfolio.age}} años y soy un desarrollador de software y operador de Tecnologías de la Información. Tengo una buena capacidad para resolver problemas, y se me da bien aprender y trabajar en equipo. Busco un trabajo a tiemo parcial en el que pueda poner en práctica mis habilidades en el manejo de tecnologías y en donde también pueda seguir mejorando y aprendiendo.
              </p>
              <div>
                <input id="edit-acercade" type="text" oninput="changeParagraphAcercade(this.value)" style="display:none">              
              </div>
              <div class="btn-edit" onclick="hideTextareaAcercade()">
                <a style="display:none" id="checkAcercade" href="#acercade" class="btn-right"><i class="fa fa-circle-check"></i></a>
              </div>
              </div><!-- <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p> -->
            </div>
            </div>
            
            <!-- /.col-lg-4 -->
            <!-- <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      
              <h2 class="fw-normal">Heading</h2>
              <p>And lastly this, the third column of representative placeholder content.</p>
              <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!--/.col-lg-4 -->
            <div id="curriculum" class="row">
              <div class="col-lg-4">
                
                <div class="row">
    <div class="col-lg-12">

                <div style = "float: left; margin-right: 2.5%;" class="btn-edit" onclick="showTextareaCurriculum()">
                  <a href="#curriculum" ><i class="fa fa-pencil"></i></a>
                </div>
                
                <div style = "float: left;" class="btn-edit" onclick="eliminateCurriculum()">
                  <a href="#curriculum"  ><i class="fa fa-circle-xmark"></i></a>
                </div>
                </div>            
            </div>

            
      <img [src]="miPorfolio.images.miFoto" width="140" height="140" class="bd-placeholder-img" alt="Mi foto">
      <!--<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
-->
      <h2 class="fw-normal">Curriclum</h2>
      <p id="text-curriculum">Puedes ver mi curriculum aquí</p>
      <div>
        <input id="edit-curriculum" type="text" oninput="changeParagraphCurriculum(this.value)" style="display:none">              
      </div>
      <div class="btn-edit" onclick="hideTextareaCurriculum()">
      <a id="checkCurriculum" style="display:none" href="#curriculum" class="btn-right"><i class="fa fa-circle-check"></i></a>
    </div>
      <p><a class="btn btn-secondary" [href]="miPorfolio.pdfs.CVIsaacGuerrero" target="_blank">Ver detalles &raquo;</a></p>
    
    
    </div>
    </div>
    
  </div>

  
</div>
</div>
